.aboutSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    max-width: 600px;
    padding: 0 30px;
}

.aboutBanner{
    border-radius: 20px;
}

.aboutPage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    color: #2183daef;
}

.title{
    font-size: 1.6rem;
    font-weight: 600;   
}

.aboutText{
    color: rgb(58, 58, 58);
    line-height: 20px;
}

.aboutList{
    color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutLine{
    font-weight: 500; 
}

.point{
    margin-right: 10px;
}

@media(max-width: 1250px){
    .aboutPage{
        flex-direction: column;
    }

    .aboutBanner{
        width: 80%;
    }
    .aboutSection{
        width: 80%;
        max-width: 100%;
    }
}
