.heroSection{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("/heroImageBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    width: 850px;
    font-size: 3.125rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 30px;
    line-height: 60px;
}

.titleItalian{
    color: #54C752;
    font-style: italic;
}

.blue{
    color: #026BC5;
}

.green{
    color: #6CCF6A;
}

.heroDescription{
    width: 720px;
    font-size: 1.25rem;
    text-align: center;
    color: #4D5163;
    margin-bottom: 40px;
}

.cadastro{
    width: 387px;
    height: 86px;
    background-color: #026BC5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.563rem;
    font-weight: 600;
    gap: 25px;
    transition: 0.3s;
    border-radius: 10px;
}

.cadastro:hover{
    background-color: #027ce7;
    gap: 35px;
}


.setaCadastro{
    width: 26;
    height: 26;
}


@media (max-width: 980px) {

.heroSection{
    padding: 0 40px;
    padding-top: 60px;
}

.title {
    width: 100%;
    font-size: 3rem;
}

.heroDescription{
    width: 100%;
}

.cadastro{
    width: 357px;
    height: 86px;
}


}

@media (max-width: 750px){

    .heroSection{
        padding: 0 30px;
        padding-top: 40px;
    }

.title {
    font-size: 2.8rem;
     line-height: 50px;
}

.heroDescription{
    font-size: 1.1rem;
}

}

@media(max-width: 560px){

    .heroSection{
        padding: 0 20px;
        padding-top: 40px;
    }

    .title{
        font-size: 2.3rem;
    }

    .heroDescription{
        font-size: 1rem;
    }

    .cadastro{
        width: 320px;
        font-size: 1.4rem;
    }

    .setaCadastro{
        width: 20;
        height: 20;
    }
}

@media(max-width: 390px){
    .title{
        font-size: 2rem;
    }
    .heroDescription{
        font-size: 0.8rem;
    }

    .cadastro{
        width: 100%;
        padding: 0 20px;
    }
}