.page {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  background-color: var(--foreground);
  width: 100%;
  height: 100vh;
  border-radius: 12px;
  text-align: center;
}

