.page {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-geist-sans);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

