.header{
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.096);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoContainer{
    display: flex;
}

.logo{
  width: 180px;
  height: 45px;
}