.header{
  width: 100%;
  height: 220px;
  background-color: rgb(19, 39, 25);
  display: flex;
  align-items: center;
}

.logoContainer{
    display: flex;
}

.logo{
  margin-left: 30px;
  width: 220px;
  height: 220px;
}