.header{
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.096);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.firstSectionHeader{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 100px;
}

.menuNav{
  display: flex;
  align-items: end;
  height: 23px;
  gap: 30px;
}

.logoContainer{
    display: flex;
}

.logo{
  width: 180px;
  height: 45px;
}

.loginContainer{
  gap: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.login{
  display: flex;
  align-items: end;
  height: 23px;
  gap: 8px;
  font-weight: 600;
}

.loginImage{
  width: 20px;
  height: 20px;
}

.cadastro{
  display: flex;
  align-items: end;
  height: 23px;
  font-weight: 600;
}