.header{
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.096);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.firstSectionHeader{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 100px;
}

.menuNav{
  display: flex;
  gap: 35px;
}

.linkNav{
  font-size: 1rem;
  color: #4d5163;
  
}

.linkNav:hover{
  color: #1d13a7;
}

.logoContainer{
    display: flex;
}

.logo{
  width: 180px;
  height: 45px;
}

.loginContainer{
  gap: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.login{
  display: flex;
  gap: 8px;
  color: #383a47;
  font-weight: 600;
}

.loginImage{
  width: 20px;
  height: 20px;
  position: absolute;
}

.cadastro{
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 15px 20px;
  color: #ec6783;
  font-weight: 600;
  border: 1px solid #ec6783;
}